LiquidLibrary/Liquid.Library.Importer/Service References/MovieServiceReference/MovieService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Liquid/wcf/MovieService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Liquid.Library.Domain.Inventory" />
  <xs:element name="CreateNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Liquid.Library.Domain.Inventory" minOccurs="0" name="movie" nillable="true" type="q1:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Liquid.Library.Domain.Inventory" minOccurs="0" name="ListResult" nillable="true" type="q2:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>